body {
	background: #34495e;
	TEXT-ALIGN: center;
font-family: sans-serif;
}

.container {
	position: relative;
	width: 400px;
	background: #2c3e50;
	margin:0 auto;
	padding: 0;
	text-align: center;
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.2);
}
.add-contact button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.add-contact button:hover,.add-contact button:active,.add-contact button:focus {
  background: #43A047;
}

ul, li {
	padding: 0;
	list-style-type: none;
}

input {
	display: block;
	margin: 5px auto 5px auto;
	width: 380px;
	border: none;
	height: 40px;
}
button {
	border: none;
}

select option {
	border: none;
}

h1 {
	color: #1abc9c;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold; 
}

.select-person {
	display: block;
	margin: 0 auto;
	width: 380px;
	height: 50px;
	border: none;
	color: #ecf0f1;
	font-weight: bold;
	text-transform: uppercase;
	background: #1ab;
}

.person-name {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	color: #2c3e50;
}

.person-info {
	text-align: center;
	font-weight: bold;
}

.add-contact {
	margin:0 auto;
	TEXT-ALIGN: center;
	margin-top: 50px;
}

.btn-add {
	display: block;
	margin: 15px auto;
	width: 380px;
	height: 50px;
	color: #ecf0f1;
	font-weight: bold;
	background: #1ab;
}